<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="primary">
    <h2 class="ion-text-center">Good morning!<br>{{name}}</h2>
  </ion-text>

  <ion-button fill="clear" expand="full" (click)="presentModal()"><ion-icon name="add-outline"></ion-icon> Aggiungi città</ion-button>

  <ng-container *ngIf="data.length">
    <ion-list>
      <ion-item *ngFor="let el of data" class="ion-text-center" (click)="goToTab(el)"
        [ngClass]="{'clouds': el.weather[0].main == 'Clouds', 'mist': el.weather[0].main == 'Mist', 'clear': el.weather[0].main == 'Clear'}">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>{{el.name}}</p>
              <p>{{today}}</p>
            </ion-col>
            <ion-col>
              <div [ngSwitch]="el.weather[0].main">
                <div *ngSwitchCase="'Clouds'">icona nuvole</div>
                <div *ngSwitchCase="'Mist'">icona nebbia</div>
                <div *ngSwitchCase="'Clear'">icona sole</div>
              </div> 
            </ion-col>
            <ion-col>
              {{el.main.temp}}&deg;
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!data.length">
    <ion-item>
      <ion-label>Loading...</ion-label>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-item>
  </ng-container>
</ion-content>