ion-item {
    box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.17);
    border-radius: 25px;
    width: calc(100% - 40px);
    margin: 0 auto 20px auto;
    &.clouds {
        background: rgb(1,19,84);
        background: radial-gradient(circle, rgba(1,19,84,1) 0%, rgba(91,159,227,1) 100%);
        
    }
    &.mist {
        background: rgb(70,76,100);
        background: radial-gradient(circle, rgba(70,76,100,1) 0%, rgba(153,169,185,1) 100%);
        box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.17);
    }

}

ion-row {
    align-items: center;
}