<ion-header>
  <ion-toolbar>
    <ion-title>Errore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="danger">
    <h4>{{text}} {{code}}</h4>
  </ion-text>

  <ion-button color="primary" (click)="close('ok')">Ok</ion-button>

<ion-button color="secondary" (click)="close('no')">Annulla</ion-button>

</ion-content>
