<ion-header>
  <ion-toolbar>
    <ion-title>modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Aggiungi città</ion-label>
    <ion-input [(ngModel)]="city"></ion-input>
  </ion-item>
  <ion-button (click)="update()" >Aggiungi</ion-button>

</ion-content>
